name: Release Neverin

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create ZIP for HACS
        run: |
          cd custom_components
          zip -r neverin_${{ github.ref_name }}.zip neverin

      - name: Create GitHub Release and upload asset
        uses: softprops/action-gh-release@v2
        with:
          files: custom_components/neverin_${{ github.ref_name }}.zip
