name: Release Neverin

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create ZIP for HACS
        run: |
          cd custom_components
          zip -r neverin_${GITHUB_REF_NAME}.zip neverin

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: custom_components/neverin_${GITHUB_REF_NAME}.zip
